<%- include("header") -%>
<body class="back" style="background-color: rgb(211, 209, 209);">
  <div class="p-3 bg-white text-dark m-5 border border-dark">
    <h1 class="text-center">Add new Image</h1>
    <form action="/<%= num._id %>/edit" method="post">
      <div class="form-floating m-5">
        <input type="text" class="form-control" name="name"id="floatingInput" placeholder="Name" value="<%= num.name %>" required>
        <label for="floatingInput">Name</label>
      </div>
      <div class="form-floating m-5">
        <input type="text" class="form-control" id="floatingInput" name="url" placeholder="Image URL" required>
        <label for="floatingPassword">Image URL</label>
      </div>
      <div class="form-floating m-5">
        <textarea class="form-control" placeholder="Description" name="description" id="floatingTextarea2" style="height: 100px" required></textarea>
        <label for="floatingTextarea2">Description</label>
      </div>
      <div class="col text-center">
        <button class="btn btn-primary " type="submit">Add</button>
      </div>
    </form>
  </div>
</body>
</html>